<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="navbar.css" />

    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
    <title>Lingkar Hijau</title>
</head>
<body>
    <!-- Skip to Content -->
    <a href="#main-content" class="skip-content">Skip to content?</a>
    <header>
        <!-- Desktop Navbar -->
      <nav class="navbar">
        <a class="nav-logo" href="#">Lingkar Hijau</a>
        <ul class="nav-list">
          <li class="nav-item"><a href="#/">Home</a></li>
          <li class="nav-item"><a href="#/information">Information</a></li>
          <li class="nav-item"><a href="#/location">Location</a></li>
          <li class="nav-item"><a href="#/support">Support</a></li>
        </ul>
      </nav>

      <!-- Mobile Navbar -->
      <nav class="mobile-menu">
        <div class="icon-menu" id="icon-mobile">
          <button aria-label="button menu dropdown on mobile device" type="button">
            <span class="fa fa-bars fa-lg"></span>
          </button>
        </div>
        <div class="mobile-logo" aria-label="mobile-logo">Lingkar Hijau</div>
      </nav>

      <!-- Mobile Drawer -->
      <nav id="drawer" class="nav-mobile">
        <ul class="nav-mob-list">
          <li class="nav-item"><a href="#/">Home</a></li>
          <li class="nav-item"><a href="#/information">Information</a></li>
          <li class="nav-item"><a href="#/location">Location</a></li>
          <li class="nav-item"><a href="#/support">Support</a></li>
        </ul>
      </nav>
    </header>
    <script src="navbar.js"></script>
</body>
</html>